*.o
*.depend
Make.dep
libboard.a
tags
cscope.*
freertos.fex
.built
*.fex
!sunxi.fex
!sys_config.fex
!sys_partition.fex
/Kconfig
etctmp.c
out

etctmp
libs
/aw_dsp
/boards/r528/drivers/realtek_ieee80211/
.kconfig
